html
    body
        h1 Add superhero secret

        form(action=`/add-secret/${user.id}`, method='POST')
            p
                | Superhero: 
                input(type='text' name='superheroName' value='')
                br
                | Secret Identity: 
                input(type='text' name='secretIdentity' value='')

            input(type='submit' value='Submit')


        if errors
            ul
                for error in errors
                    li!= error.msg