html
  body


if user
  h1 Welcome back #{user.username}
  p #{user.name} #{user}

  a(href='/change-is-admin/'+user._id) Change IsAdmin
  a(href='/log-out') LOG OUT
else 
  h1 please log in   

  form(action=`/log-in`, method='POST')
    p
      | Name: 
      input(type='text' name='username' value='')
      br
      | Password: 
      input(type='password' name='password' value='')

    input(type='submit' value='Log In')

    Or 
    a(href='/sign-up') Sign Up
