html
    body
        h1 #{title}
        p #{message}



if user
    p #{user.name} #{user}
    //- ul
    //-   for error in errors
    //-     li!= error.msg


    //- <% if (user) {%>
    //- <h1>WELCOME BACK <%= user.username %></h1>
    //- <a href="/log-out">LOG OUT</a>
    //- <% } else { %>
else 
    p no user logged in
    h1 please log in   

    form(action=`/log-in`, method='POST')
        p
            | Name: 
            input(type='text' name='name' value='')
            br
            | Password: 
            input(type='password' name='password' value='')

        input(type='submit' value='Log In')