html
    body
        h1 Sign Up

    form(action=`/sign-up`, method='POST')
        p
            | Name: 
            input(type='text' name='name' value='')
            br
            | Password: 
            input(type='password' name='password' value='')

        input(type='submit' value='Register')

    if errors
        ul
            for error in errors
                li!= error.msg
